/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Jul-2016, 10:26:19
    Author     : ballaz
*/

.questionword {
    -fx-font-family:"Verdana, Arial, Helvetica";
    -fx-font-size:24px;
    -fx-color:#333333;
    -fx-padding:24px;
}
.scoreboard {
    -fx-font-family:"Verdana, Arial, Helvetica";
    -fx-font-size:14px;
    -fx-color:#333333;
    -fx-padding:24px;
}
.scoreboard-pane {
    -fx-text-align:right;
    -fx-background:#CAFFEE;
}